/.android
/.bash_history
/.dbus-keyrings
/.gitconfig
/.lesshst
/.lmmsrc.xml
/.mcode
/.ms-ad
/.node_repl_history
/.opera
/.virtualenvs
/.vscode
/3D Objects
/ansel
/AppData
/BrawlhallaReplays
/burgers
/Contacts
/Documento nuevo 1.2023_04_07_16_31_56.0.svg
/Documents
/Downloads
/Favorites
/first_flask
/FlaskVenv
/get-pip.py
/hello_flask
/index.html
/Links
/mblock
/mblock5
/mlink
/Music
/My_Belt_Exam_1Python
/My_Belt_Exam_1Python.zip
/My_Belt_Exam_2Python
/My_Belt_Python_Det
/My_Belt_Python_Det.zip
/My_Belt_Python_Det_2
/My_Checkerboard
/My_Dojos_and_Ninjas
/My_Dojos_and_Ninjas.zip
/My_Encuesta_Dojo
/My_Encuesta_Dojo_2
/My_Encuesta_Dojo_2.zip
/My_enterprise
/My_HTML_Counter
/My_HTML_Counter.zip
/My_HTML_Table
/My_HTML_Table.zip
/My_Register_and_Login.zip
/My_Users_Program
/My_Users_Program.zip
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/PIKACHU
/Pipfile
/Pipfile.lock
/python
/rect1618.png
/Saved Games
/Searches
/server.py
/Videos
/Configuración local
/Cookies
/Datos de programa
/Entorno de red
/Impresoras
/Menú Inicio
/Mis documentos
/Reciente
/Plantillas
/SendTo