<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Reporte Semanal</title>
</head>
<body>
    <div class="Fondo">
        <div class="header">
            <div class="menu">
                <div style="display:block">
                    <div style="height: 12px"></div>
                    <div class="options">
                        <ul>
                            <li><a href="/vendedor/inicio" class="header_opt">Inicio</a></li>
                            <li><a href="/vendedor/inventario" class="header_opt">Revisión de Inventario</a></li>
                            <li><a href="/vendedor/reporte" class="header_opt">Reporte Diario</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/logout/vendedor"><button type="submit" class="btn btn-light btn-lg">Cerrar Sesión</button></a>
            </div>
        </div>
        <div style="height: 50px"></div>
        <form action="/vendedor/reporte/actualizar/{{ ven['id_ven']}}" method="post" class="col-12 p-3">
            <div style="display: flex;justify-content: center">
                <h1 class="titulo">{{ ven['first_name_ven']}}, Recuerda reportar diariamente</h1>
            </div>
            <div style="height: 30px"></div>
            <div style="display: flex">
                <div style="flex:1"></div>
                <div style="flex:4">
                    <div style="height: 30px"></div>
                    <div class="contiene_tabla" style="display:flex; justify-content: center; overflow:auto; height: 440px">
                        <div style="width: 90%; margin: 0px 30px ; display:flex; justify-content: center;">
                            <table class="table" style="align-items: center; justify-content: center;background-color: lightgray; border: solid black 3px">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre del producto</th>
                                        <th scope="col">Q en tienda</th>
                                        <th scope="col">Ventas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for prod in all_prods %}
                                    <tr>
                                        <td scope="row">{{ prod['nombre_prod']}}</td>
                                        <td>{{ prod['cantidad_x_ven']}}</td>
                                        <td><input type="number" style="width: 100px;" name="venta_{{ prod['id'] }}" value=0 min=0></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="flex:1"></div>
            </div>
            <div style="height: 30px"></div>
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-light btn-lg">Reportar las ventas</button>
            </div>
        </form>
        <div style="display: flex; justify-content: center;">
            <a href="/vendedor/inicio"><button type="submit" class="btn btn-light btn-lg">Volver a Inicio</button></a>
        </div>
    </div>
</body>
</html>