<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Inventario Vendedor</title>
</head>
<body>
    <div class="Fondo">
        <div class="header">
            <div class="menu">
                <div style="display:block">
                    <div style="height: 12px"></div>
                    <div class="options">
                        <ul>
                            <li><a href="/proveedor/inicio" class="header_opt">Inicio</a></li>
                            <li><a href="/proveedor/productos" class="header_opt">Productos</a></li>
                            <li><a href="/proveedor/inventario" class="header_opt">Gestión de Inventario</a></li>
                            <li><a href="/proveedor/ventas" class="header_opt">Reportes Diarios</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/logout/proveedor"><button type="submit" class="btn btn-light btn-lg">Cerrar Sesión</button></a>
            </div>
        </div>
        <div style="height: 50px"></div>
        <div style="display: flex;justify-content: center">
            <h1 class="titulo">Visualización del producto</h1>
        </div>
        <div style="height: 50px"></div>
        <div class="mx-auto" style="display:flex;">
            <div style="flex:4;"></div>
            <!-- UN CAMBIO -->
            <div style="flex:6;">
                <div class="foto">
                    <div class="my-product">
                        <img src="/{{prod['img_prod']}}" alt="my_product">
                    </div>
                </div>
            </div>
            <div style="flex:3;"></div>
            <div style="flex:8; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);border: solid black 3px; border-radius: 10px; padding: 10px">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <h1 class="text-left m-3" style="color:rgb(0, 0, 0); display: inline;">Datos del producto</h1>
                </div>                        
                <div style="justify-content:space-around">
                    <div style="display:block "><p>Precio: <br>{{ prod['precio_prod']}}</p></div>
                </div>
                <div style="height:20px" ></div>
                <div style="justify-content:space-around">
                    <div style="display:block "><p>Nombre: <br>{{ prod['nombre_prod']}}</p></div>
                </div>
                <div style="height:20px" ></div>
                <div style="justify-content:space-around">
                    <div style="display:block "><p>Description: <br>{{ prod['descripcion_prod']}}</p></div>
                </div>
                <div style="height:20px" ></div>
            </div>
            <div style="flex:4;"></div>
        </div>
        <div style="height: 30px"></div>
        <div style="height: 12px; display:flex; justify-content: space-around;">
            <a href="/proveedor/productos"><button type="submit" class="btn btn-light btn-lg">Volver a productos</button></a>
            <a href="/proveedor/productos/editar/{{ prod['id'] }}"><button type="submit" class="btn btn-light btn-lg">Editar el producto</button></a>
            <a href="/delete/{{ prod['id'] }}"><button type="submit" class="btn btn-light btn-lg">Eliminar el producto</button></a>
        </div>
        <div style="height: 50px"></div>
    </div>
</body>
</html>